* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}

html,
body {
  height: 80%;
}

body {
  background-color: rgb(147, 206, 186);
}

.container {
  height: 90%;
  width: 20%;
  min-width: 350px;
  margin: 12em auto 0;
  padding: 1.2em;
  border: 1px solid #000;
  border-radius: 1em;
  background-color: #2e2a2a;
}

.container p {
  margin-top: -1em;
}

.calculator {
  height: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: #fff;
}

.display {
  background-color: #000;
  height: 20%;
  border-radius: 0.3em;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btnContainer {
  height: 75%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.btnRow {
  flex: 1;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #fff;
}

.btns {
  flex: 1;
  color: #000;
  background-color: #e7dcdc;
  font-size: 1em;
  border: 1px solid #000;
}

.btns:hover {
  background-color: #fff;
}

.delete,
.all-clear {
  background-color: rgb(189, 144, 144);
  /* color: #fff; */
}

.lastRow {
  display: flex;
}

.btn-operators {
  background-color: #d1c9c9;
  font-size: 1.3em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.3em;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
}